body
{
	max-width: 950px;
	margin: 0 auto;
}

code
{
	font-size: 16px;
}

td, th
{
	padding: 0.5em;
	text-align: left;
	vertical-align: top;
}

th
{
	border-bottom: 1px solid #000;
}

a.ref
{
	text-decoration: none;
}

li.target
{
	background: #aff;
}